
body{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
}

.block-date{
    height: 70px;
    background-color: rgb(0, 0, 39);
    align-items: center;
    padding: 100px;
}

.time,
.date{
    color: rgb(48, 224, 13);
    font-size: 76px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.date{
    font-size: 36px;
}

.block-stopwatch{
    margin-top: 40px;
    height: 230px;
    background-color: rgb(0, 0, 39); 
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.stopwatch{
    color: rgb(48, 224, 13);
    font-size: 56px;
    margin-bottom: 100px;
    
}

button{
    width: 70px;
    height: 30px;
    border: 1px solid rgba(48, 224, 13, 0.5);
    color: rgb(48, 224, 13);
    border-radius: 5px;
    background-color: rgb(0, 0, 39);

}

button:hover{
    cursor: pointer;
}

.loop-time{
    width: 300px;
    height: 200px;
    border: 1px solid rgb(48, 224, 13);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    color: rgb(48, 224, 13);
    
}

.block-timer{
    margin-top: 40px;
    height: 250px;
    background-color: rgb(0, 0, 39); 
    display: flex;
    justify-content: space-around;
    color: rgb(48, 224, 13);;
}

.block-minutes{
    display: flex;
    width: 150px;
    flex-wrap: wrap;
    justify-content: center;
}

.count-minutes{
    font-size: 76px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.minutes{
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 150px;
    text-align: center;
}

.plus,
.minus{
    width: 30px;
    margin-left: 5px;
}

.timer-text{
    font-size: 76px;
    margin-bottom: 10px;
}

.timer-start,
.timer-stop,
.timer-reset{
    width: 60px;
}

.activ-button{
    border-radius: 0;
    border: 1px solid rgb(43, 255, 0);
}
